:root {
  --main-bg-color: black;
  --main-text-color: white;
  --accent-color: violet;
  --code-color: greenyellow;

  --text-size-desktop: 16px;
  --text-size-mobile: 12px;

  --padding-desktop: 8px;
  --padding-mobile: 4px;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'JetBrains Mono', monospace;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-size: var(--text-size-desktop);
  text-align: center;
}

.content{
  max-width: 1000px;
  margin: 0 auto 0 auto;
  /* border: 1px solid red; */
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.top-content, .bottom-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.bottom-content {
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: var(--padding-desktop);
  /* border: 1px solid var(--main-text-color); */
}

.top-content {
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  /* border-top: 3px dashed var(--main-text-color); */
  /* border-bottom: 3px dashed var(--main-text-color); */
}

.header-line {
  border-top: 3px dashed var(--main-text-color);
  width: 100vw;
  position: relative;
  /* margin-left: -50vw;
  margin-right: -50vw; */
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: var(--padding-desktop) 0;
}

nav > a {
  margin: var(--padding-desktop);
  text-decoration: none;
  color: var(--main-text-color);
}

nav > a:hover{
  color: var(--accent-color);
}

.social-links {
  display: flex;
  justify-content: center;
  flex: 1;
  align-items: center;
  width: 100%;
  padding: var(--padding-desktop) 0;
}

.social-links a {
  display: inline-block;
  margin: 0 10px;
}

.social-links img {
  width: 40px;  /* Adjust size as needed */
  height: 40px;
  transition: transform 0.3s ease;
  border: 2px solid var(--main-text-color);
}

.social-links img:hover {
  border: 2px solid var(--accent-color);
}


.ascii-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.multi-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: center; */
}

.multi-container div {
  flex: 1;
}

.text-container {
  padding: var(--padding-desktop);
}

.ascii-item {
    white-space: pre;
    text-align: center;
    padding: var(--padding-desktop);
    max-width: 100%;
    overflow: auto;

    /* border: 1px solid red; */
}

@media (max-width: 768px) {
  /* html, body {
    font-size: var(--text-size-mobile);
    padding: var(--padding-mobile);
  } */

  .ascii-item {
    font-size: var(--text-size-mobile);
    padding-left: var(--padding-mobile);
    padding-right: var(--padding-mobile);
    /* flex-basis: auto;  */
  }
}